<h1>Welcome to the Car Slaes Log!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Car Model</th>
      <th>Sale Date</th>
      <th>Sales Person</th>
      <th>Fuel Type</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.carModel %></td>
        <td><%= sale.salesDate %></td>
        <td><%= sale.seller_name %></td>
        <td><%= sale.fuelType %></td>
      </tr>
    <% end %>
  </tbody>
</table>